<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>RUMS登録画面</title>
<<<<<<< HEAD
        <script type="text/javascript">

        </script>
    </head>
    <body>
    <%=
    @errors
    %>
=======
    </head>
    <body>
>>>>>>> 24630e851313d0ceae78bf3070bb5ed05e343dec
    <form action="/insert_confirm" method="POST">
        名前:
        <input type="text" name="name" value="">
        <br><br>

        生年月日:　
        <select name="year">
            <option value="">----</option>
            <% for i in 1960..2010 %>
            <option value="<%=i%>"> <%=i%> </option>
            <% end %>
        </select>年
        <select name="month">
            <option value="">--</option>
<<<<<<< HEAD
            <% 12.times do | i | %>
            <option value="<%=i+1%>"><%=i+1%></option>
=======
            <% 13.times do | i | %>
            <option value="<%=i%>"><%=i%></option>
>>>>>>> 24630e851313d0ceae78bf3070bb5ed05e343dec
            <% end %>
        </select>月
        <select name="day">
            <option value="">--</option>
<<<<<<< HEAD
            <% 31.times do | i | %>
            <option value="<%=i+1%>"><%=i+1%></option>
=======
            <% 32.times do | i | %>
            <option value="<%=i%>"><%=i%></option>
>>>>>>> 24630e851313d0ceae78bf3070bb5ed05e343dec
            <% end %>
        </select>日
        <br><br>

        種別:
        <br>
        <input type="radio" name="type" value="1" checked>エンジニア<br>
        <input type="radio" name="type" value="2">営業<br>
        <input type="radio" name="type" value="3">その他<br>
        <br>
<<<<<<< HEAD
        <!--

        -->
=======
>>>>>>> 24630e851313d0ceae78bf3070bb5ed05e343dec

        電話番号:
        <input type="text" name="tell" value="">
        <br><br>

        自己紹介文
        <br>
        <textarea name="comment" rows=10 cols=50 style="resize:none" wrap="hard"></textarea><br><br>

        <input type="hidden" name="secret"  value="<%= @secret %>">
        <input type="submit" name="btnSubmit" value="確認画面へ">
    </form>
        <br>
        <p><a href="/">トップに戻る</a></p>
    </body>
</html>
